@(userId: String, blocked: Boolean, followable: Boolean, relation: Option[lila.relation.Relation] = None, partnerRelation: Option[lila.relation.Relation] = None, invPartnerRelation: Option[lila.relation.Relation] = None)(implicit ctx: Context)

@relation match {
case None if followable && !blocked=> {
<a class="relation button" href="@routes.Relation.follow(userId)?mini=1">
  <span data-icon="h">&nbsp;@trans.follow()</span>
</a>
}
case Some(true) => {
<a class="relation button hint--bottom" data-hint="@trans.unfollow()" href="@routes.Relation.unfollow(userId)?mini=1">
  <span data-icon="h">&nbsp;@trans.following()</span>
</a>
}
case Some(false) => {
<a class="relation button hint--bottom" data-hint="@trans.unblock()" class="hover_text" href="@routes.Relation.unblock(userId)?mini=1">
  <span data-icon="k">&nbsp;@trans.blocked()</span>
</a>
}
case _ => {
}
}

@partnerRelation match{
  case None => {
    @invPartnerRelation match{
      case None => {
        <a class="relation button" href="@routes.Relation.partner(userId)?mini=1">
          <span data-icon="&quot">&nbsp;@trans.partner()</span>
        </a>
      }
      case Some(_) => {
        <a class="relation button" href="@routes.Relation.partner(userId)?mini=1">
          <span data-icon="&quot">&nbsp;@trans.reqPartner()</span>
        </a>
      }
    }
  }
  case Some(_) => {
    @invPartnerRelation match{
      case None => {
        <a class="relation button hint--bottom" data-hint="@trans.unpartner()" class="hover_text" href="@routes.Relation.unpartner(userId)?mini=1">
          <span data-icon="&quot">&nbsp;@trans.partnerReq()</span>
        </a>
      }
      case Some(_) => {
        <a class="relation button hint--bottom" data-hint="@trans.unpartner()" class="hover_text" href="@routes.Relation.unpartner(userId)?mini=1">
          <span data-icon="&quot">&nbsp;@trans.partnered()</span>
        </a>
      }
    }
  }
}